.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 14px 30px; /* Adjust the padding for smaller screens */
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    z-index: 5;
    border-bottom: 1px solid rgba(255, 255, 255, 0.18);
  }
  
  .logo {
    text-decoration: none;
    color: #fff;
    cursor: default;
    font-size: 28px; /* Adjust the font size for smaller screens */
  }
  
  .navbar {
    display: flex;
  }
  
  .navbar a {
    color: #fff;
    font-size: 18px; /* Adjust the font size for smaller screens */
    text-decoration: none;
    margin-left: 50px; /* Adjust the margin for smaller screens */
    transition: 0.3s;
  }
  
  @media (max-width: 768px) {
    /* Adjust the breakpoint as needed */
    .header {
      padding: 14px 10px; /* Adjust the padding for smaller screens */
    }
  
    .logo {
      font-size: 24px; /* Adjust the font size for smaller screens */
    }
  
    .navbar {
      
      align-items: flex-start; /* Align navigation links to the left */
    }
  
    .navbar a {
     
      font-size: 16px; /* Adjust the font size for smaller screens */
      margin-left: 20px;
    }
  }

  .navbar a:hover {
    color: red;
}
  
  /* Add more media queries for smaller screens if needed */
  