* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f1f47;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 2rem;
  width: 27rem;
  height: 35rem;
  border-radius: 1rem;
  box-shadow: 0 1rem 1rem rgba(31, 38, 135, 0.37);
  border: 1px solid rgb(255, 255, 255, 0.18);
  backdrop-filter: blur(1.8rem);
  color: #fff;
  text-align: center;
  font-size: 4rem;

}


.blob {
  position: absolute;
  width: 50rem;
  height: 50rem;
  background-image: linear-gradient(180deg, rgba(47, 184, 265, 0.42), #5c9df1);
  mix-blend-mode: overlay;
  animation: move 15s linear infinite alternate;

}

@keyframes move {
  0% {
    transform: translate(-400px, -100px) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 76% 24% 33% 67%;
  }
  100% {
    transform: translate(400px, 100px) rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 24% 76% 35% 65%;
  }
}


/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
